# Python files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv
venv/

# Keras / TensorFlow
*.h5
*.hdf5

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
